.check_im{

    width: 100%;
    height: 200px;
}
.check{
    background-color: white;
    display: flex;
    
}
.left_ch{
    border-bottom: 2px solid rgb(124, 124, 145);
    margin-left: 5px;
 margin-left: 10px;
}
